<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FlashCard Practice App</title>
  </head>
  <body>
    <h1>FlashCard Practice App</h1>
    <a href="/">HOME</a><br>
    <%= yield %>
  </body>
</html>
